* {
  padding: 0;
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 40px 40px 40px 0;
  background-color: #f9f9fa;
}

.main_box {
  display: none;
}

.main_box {
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: 200ms ease-in-out;
  width: 400px;
  padding: 40px;
  /* transform: translate(-50%, -50%); */
  background-color: rgb(228, 138, 36);
  box-shadow: 0px 0px 10px white;
  border-radius: 10px;
}
.main_box h2 {
  font-family: "Give You Glory", cursive;
  font-size: 40px;
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
  cursor: pointer;
}
.main_box .user_box input {
  position: relative;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  border-bottom: whitesmoke solid 2px;
  background-color: transparent;
}
.main_box .user_box label {
  position: relative;
  left: 0;
  top: -60px;
  padding: 10px 0;
  pointer-events: none;
  transition: 0.5s;
}
.main_box .user_box :focus ~ label,
.main_box .user_box :valid ~ label {
  top: -85px;
  font-size: 13px;
  left: 0;
}
.button_form {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-content: center;
}

.button_form #submit {
  text-decoration: none;
  color: whitesmoke;
  padding: 20px 30px;
  border: 2px solid whitesmoke;
}
.button_form #submit:hover {
  background-color: rgb(253, 201, 112);
  transition: 0.5s;
}

.main_box.active {
  transform: translate(-50%, -50%) scale(1);
}

#over {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: hsl(0, 0%, 0%, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#over.active {
  pointer-events: all;
  opacity: 1;
}

.main-div {
  margin: 0 110px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h4 {
  color: white;
  background: linear-gradient(
    90deg,
    rgba(255, 205, 0, 1) 0%,
    rgba(236, 84, 84, 0.9921218487394958) 100%
  );
  font-size: 11px;
  padding: 4px 9px;
  margin-left: 8px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 100;
}

.list ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.list li {
  margin: 0px 25px;
}

.list a {
  text-decoration: none;
  color: rgb(155, 153, 153);
}

.list a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: rgb(155, 153, 153);
  transition: 0.4s;
}

.list a:hover::after {
  content: "";
  width: 100%;
  display: block;
  height: 2px;
  background: rgb(155, 153, 153);
  transition: 0.4s;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button h5 {
  cursor: pointer;
}

.btn-1 {
  margin: 0px 20px;
  color: rgb(155, 153, 153);
}

.btn-2 {
  color: white;
  padding: 20px;
  background: rgb(100, 100, 255);
  border-radius: 5px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 0 80px;
  text-align: center;
}

.main-content h1 {
  font-size: 50px;
}

.main-content button {
  color: white;
  padding: 20px;
  background: rgb(100, 100, 255);
  border-radius: 5px;
  border: none;
}

.main-content input {
  padding: 20px 150px 20px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

p {
  color: rgb(155, 153, 153);
}

.main-content .text p {
  line-height: 22px;
  margin: 10px 0;
}

.main-content .icon-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-content .icon-right img {
  margin-right: 8px;
}
