{% extends "layout.html" %}
{%block content%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Don_Ismo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>
<div class="main-div">
    <div class="nav">
        <div class="logo">
            <h2>Don_Ismo</h1>
                <h4>Saving is everything</h4>
        </div>
        <div class="list">
            <ul>
                <li><a href="#">Plans</a></li>
                <li><a href="#">Find Domain</a></li>
                <li><a href="#">Why Hostter</a></li>
            </ul>
        </div>
        {%block additional_content %}
        <div class="nav-button">
            <h5 class="btn-1 open-button-2">Log in</h5>
            <h5 class="btn-2 open-button">Sign up</h5>
        </div>

        <div class="main_box2" id="modal2">
            <h2>Log in</h2>
            <form method="POST">
                {{login.hidden_tag()}}
                <div class="user_box2">
                    <!--<input type="text" name="" required>
                        <label>Full Name</label>-->
                    {{login.name()}}
                    {{login.name.label}}
                </div>
                <div class="user_box2">
                    <!--<input type="password" name="" required>
                        <label>Password</label>-->
                    {{login.password()}}
                    {{login.password.label}}
                </div>
                <div class="button_form2">
                    <!--<a href="#" id="submit">Submit</a>-->
                    {{login.submit()}}
                </div>
            </form>
        </div>
        <div id="over"></div>

        <div class="main_box" id="modal">
            <h2>Sign up</h2>
            <form method='POST'>
                {{form.hidden_tag()}}
                <div class="user_box">
                    <!--<input type="text" name="" required="">
                        <label>Full Name</label>-->
                    {{form.name()}}
                    {{form.name.label}}
                </div>
                <div class="user_box">
                    <!--<input type="email" name="" required="">
                        <label>Email</label>-->
                    {{form.email()}}
                    {{form.email.label}}
                </div>
                <div class="user_box">
                    <!--<input type="tel" name="" required="">
                        <label>Number Phone</label>-->
                    {{form.phonenumber()}}
                    {{form.phonenumber.label}}
                </div>
                <div class="user_box">
                    <!--
                        <input type="password" name="" required="">
                        <label>Password</label>-->
                    {{form.password()}}
                    {{form.password.label}}

                </div>
                <div class="button_form">
                    <!-- <a href="#" id="submit">Submit</a>-->
                    {{form.submit()}}
                </div>

            </form>
        </div>
        <div id="over"></div>
    </div>
    <div class="main-content">
        <div class="text">
            <h1>Host your website in<br>less than 5 minutes.</h1>
            <p>With Hosterr,get your website up and running in no less than 5<br>minutes with the most competitive
                pricing packages available <br>online.</p>
        </div>
        <!-- <div class="images">
                <img class="g hero" src="Hero Image (Model).png">
                <img class="g pink-img" src="Pink Shape.svg">
                <img class="g blue-img" src="Blue Shape.svg">
                <img class="g purple-img" src="Purple Shape.svg">
            </div> -->
    </div>
    {%endblock%}
    <!-- <footer>
            <div class="icons">
                <h5>Facebook</h5>
                <h5>Instagram</h5>
                <h5>Twitter</h5>
            </div>
            <div class="talk-to">
                <img src="Help Avatar.svg">
                <div>
                    <h4 class="clr">Have any questions ?</h4>
                    <h4 class="bold">Talk to me XD</h4>
                </div>
            </div>
        </footer> -->
</div>
{% endblock %}